---
name: Run Tests

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  # Run tests
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Log in to package registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}


      # This is a workflow that assumes you have ruby containers in
      # docker-compose.yml called 'web' and 'test', and that docker-compose run
      # test will run your tests and generate coverage.

      - name: Set up tests
        run: |
          docker-compose build
          docker-compose run web bundle install

      - name: Run standardrb
        run: docker-compose run test bundle exec standardrb

      - name: Run tests
        run: docker-compose run test

      - name: Report to Coveralls
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.github_token }}
